.avatar {

    width:45px;

    height:45px;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    background:#2563eb;
    color:white;
    font-weight:700;

}