.sidebar {


    height:100vh;


    background:#212529;


    padding:20px;


}



.sidebar-brand {


    margin-bottom:30px;
    color:white;
}

.sidebar-brand h3 {
    font-weight:700;
    margin-bottom:4px;
}

.sidebar-brand small {
    color:#94a3b8;
}
.sidebar nav {
    display:flex;
    flex-direction:column;
    gap:8px;


}